@import "tailwindcss";

/* Aquí defines utilidades personalizadas */
@layer utilities {
  .bg-gradient-cover {
    background-image: linear-gradient(90.21deg,
        rgba(130, 54, 124, 0.5) -5.91%,
        rgba(74, 47, 189, 0.5) 111.58%);
  }

}

/* Colores personalizados como variables CSS */
@theme {
  --color-secondary: #f5741c;
  --color-darkbg: #131424;
  --color-whatssapp:#21c063cc;
  --color-email:red;
  --font-urbanist: 'Urbanist', sans-serif;
}




html,
body {
  color: #fff;
  background-color: #1f1934;
  
}

main {

}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}